@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Ubuntu:wght@300;500&display=swap');

#any-user-main-container{
    /* background-color: red;
    min-height: 100vh;
    max-height: auto; */
    padding: 0;
    padding-top: 4rem;
}

#any-user-sub-container{
    /* background-color: rgb(207, 53, 53); */
    min-height: 100vh;
    max-height: auto;
}
#any-user-head{
    background-color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius:0.3rem;    
}
#any-user-head img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}
#any-user-head h3{
    font-family: 'Kanit', sans-serif;
    color: #303030;
    font-weight: 600;
}
#any-user-head h6{
    color: #525252;
}
#any-user-photos{
    padding: 1rem;
    background-color: #cbe9e9;
    padding: 0;
}
#any-user-photos h5{
   text-align: center;
   font-size: 1.6rem;
   background-color: white;
   margin-top: 1rem;
   padding: 1.5rem;
   border-radius: 0.3rem;
   font-family: 'Kanit', sans-serif;
}
#any-user-photos-card{
    
}
#any-user-card-img{
    width: 100%;
}
#any-user-photo-div #any-user-photos-card .card-body h6{
    font-size: 1rem;
    font-weight: 500;
    color: grey;
    font-family: 'Kanit', sans-serif;
}
#any-user-photo-div #any-user-photos-card .card-body p{
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    color: #303030;
}
@media only screen and (max-width :767px) {
    #any-user-photo-div{
        margin: auto;
    }
}
