@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Ubuntu:wght@300;500&display=swap');

#homeDiv{
    height: 100vh;
    width: 100%;
    padding-top: 4rem;
}
.home-rows{
    /* background-color: white; */
}
/* #homeRow1{
    height: 25rem;
    background-color: white;
    border-radius: 0.3rem;

} */
#homeRow2{
    height: auto;
}
/* #homeRow3{
    height: 35rem;
    background-color: white;
    border-radius: 0.3rem;

} */
.home-card{
    background-color: white;
    border-radius: 0.2rem;
}
#sidebar1{
    background-color: white;
    border-radius: 0.3rem;
    height: 25rem;;
    width: 27.4rem;
    top: 4rem;
    left: 3.3rem;
}
#sidebar2{
    height: 35rem;
    width: 13.8rem;
    background-color: white;
    border-radius: 0.3rem;
    top: 4rem;
    left: 72rem;
}

/* UPLOAD COMPONENT IN HOME -----------------------------------*/
#cameraIcon{
    font-size: 2.5rem;
    color: #45b5a2b8;
}
#uploadTitle{
    font-weight: bold;
    color: rgb(142, 142, 142);
}
#dp-div{
}
#dp-img{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
}
#dp-name{
    color: rgb(44, 44, 44);
    margin: 0rem;
    padding-left: 0.5rem;
    letter-spacing: -0.05rem;
    text-transform: capitalize;
}
#db-about{
    color: rgb(130, 130, 130);
    margin: 0rem;
    padding-left: 0.5rem;
    font-weight: 500;
    text-transform: capitalize;
}
#dp-line{
    color: rgb(55, 55, 55);
    margin: 0.5rem;

}
#follow-icon{
    font-size: 2rem;
    color: #389485b8;
}
#upload-title{
    color: rgb(55, 55, 55);
    font-family: 'Kanit', sans-serif;
    text-transform: capitalize;
}


/* User Side Bar ---------------------------------------*/

#main-user-sidebar-div{
    border-radius: 0.3rem;
    padding: 0.5rem;
    text-align: center;
}
#side-bar-dp{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}
#sidebar-user-name{
    color: rgb(44, 44, 44);
    font-family: 'Kanit', sans-serif;
    text-transform: capitalize;
}
#sidebar-user-about{
    color: rgb(130, 130, 130);
    font-family: 'Kanit', sans-serif;
    text-transform: capitalize;
}
.sidebar-buttons{
    color: white;
    background-color: rgb(66, 66, 66);
    border-left: 0.4rem solid #848484;
    transition: all 0.5s;
}
.sidebar-buttons:hover{
    background-color: #3ecdb4b8;
    border-left: 0.4rem solid #515151;
    transition: all 0.5s;
}
