#main-signup-component{
    background-color: white;
    margin-top: 4rem;
    min-height: 90vh;
    max-height: auto;
    border-radius: 0.3rem;
    padding: 1.3rem;
}
#signup-header{
    font-size: 1.6rem;
    color: rgb(82, 82, 82);
    text-align: center;
    margin-bottom: 1rem;
}
#signup-form-div{
    padding: 0rem 23rem 0 23rem;
}
#signup-form-div form{
    border: 0.3rem solid #aaeeea;
    padding: 1rem;
    border-radius: 0.3rem;
}

@media only screen and (max-width: 1200px) {
    #signup-form-div {
        padding: 0rem 15rem 0 15rem;
    }
}
@media only screen and (max-width: 992px) {
    #signup-form-div {
        padding: 0rem 7rem 0 7rem;
    }
}
@media only screen and (max-width: 572px) {
    #signup-form-div {
        padding: 0rem;
    }
}
